pretrained/
results_main/
results_no_early_stop/
down_dataset/
__pycache__/
*.pyc
*.xml
# test.py
test/
test_env.py
metaworld/metaworld/envs/mujoco/sawyer_xyz/v2/push_test/sawyer_push_test_v2.xml
data/
figures/
dataset/
ise_data/
results_new/
results_dinov2/
